flows.json
[
    {
        "id": "0615e6ed807697be",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f108a5d390c71fd",
        "type": "ui_button",
        "z": "0615e6ed807697be",
        "name": "main",
        "group": "300b7f222fc5116e",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": false,
        "label": "rrrrr",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "2d3260f20cc9dbab"
            ]
        ]
    },
    {
        "id": "93489f65c9fccc73",
        "type": "ui_template",
        "z": "0615e6ed807697be",
        "group": "300b7f222fc5116e",
        "name": "img button",
        "order": 4,
        "width": 6,
        "height": 1,
        "format": "<style>\n[node-id=\"9f108a5d390c71fd\"] > button {\n    background-image: url(/Capture.png);\n    background-size: cover;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "buttonTEST",
        "x": 310,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "3d163fd7351026fa",
        "type": "comment",
        "z": "0615e6ed807697be",
        "name": "MAIN",
        "info": "MAIN",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "0a8e2b597c8137a3",
        "type": "comment",
        "z": "0615e6ed807697be",
        "name": "BLOCKCHAIN",
        "info": "",
        "x": 180,
        "y": 180,
        "wires": []
    },
    {
        "id": "8d77d2f3cf543b1d",
        "type": "ui_button",
        "z": "0615e6ed807697be",
        "name": "ethereum",
        "group": "7bf1788efefc1f0f",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Ethereum",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "2d3260f20cc9dbab",
                "102ea89c3f395530",
                "def9a0b04b9ec9ac",
                "4d64d92c5c7a5b9c",
                "fcac0657bf942bfb"
            ]
        ]
    },
    {
        "id": "cbd9deeee8637f54",
        "type": "ui_button",
        "z": "0615e6ed807697be",
        "name": "bnb",
        "group": "7bf1788efefc1f0f",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "BNB Chain",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 940,
        "wires": [
            [
                "2d3260f20cc9dbab",
                "b7a95c58b816a511",
                "1e7769029029bc88",
                "9bb2eab280b26e2b"
            ]
        ]
    },
    {
        "id": "93964590ce0da32a",
        "type": "ui_button",
        "z": "0615e6ed807697be",
        "name": "cchain",
        "group": "7bf1788efefc1f0f",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Avalanche C-Chain",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1280,
        "wires": [
            [
                "2d3260f20cc9dbab"
            ]
        ]
    },
    {
        "id": "e50b0c83dbcd57d0",
        "type": "ui_button",
        "z": "0615e6ed807697be",
        "name": "Polygon",
        "group": "7bf1788efefc1f0f",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Polygon",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "2d3260f20cc9dbab"
            ]
        ]
    },
    {
        "id": "f2797b4f12d7d199",
        "type": "ui_button",
        "z": "0615e6ed807697be",
        "name": "",
        "group": "7bf1788efefc1f0f",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Fantom",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1360,
        "wires": [
            [
                "2d3260f20cc9dbab"
            ]
        ]
    },
    {
        "id": "2d3260f20cc9dbab",
        "type": "ui_ui_control",
        "z": "0615e6ed807697be",
        "name": "switch page",
        "events": "change",
        "x": 330,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ab0431b7fe9faee7",
        "type": "ui_gauge",
        "z": "0615e6ed807697be",
        "name": "eth_gas_low",
        "group": "68314e1a1d27762d",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Low",
        "label": "gwei",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "a6dfce2217cf07e2",
        "type": "ui_gauge",
        "z": "0615e6ed807697be",
        "name": "eth_gas_average",
        "group": "68314e1a1d27762d",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Average",
        "label": "gwei",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "7069b497c126d91b",
        "type": "ui_gauge",
        "z": "0615e6ed807697be",
        "name": "eth_gas_high",
        "group": "68314e1a1d27762d",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "High",
        "label": "gwei",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 980,
        "y": 200,
        "wires": []
    },
    {
        "id": "102ea89c3f395530",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Request Eth GAS",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=gastracker&action=gasoracle&apikey=JVAK6QHRTPGR8KMHZFYJ53CT7KQ9CC38DT",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "ab4f82acbc114354",
                "e6b9dcaf630d3ae8",
                "285d30e2225f9c40"
            ]
        ]
    },
    {
        "id": "ab4f82acbc114354",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup gas",
        "func": "var result=msg.payload.result.SafeGasPrice;\nmsg.payload=result;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "ab0431b7fe9faee7",
                "6223d8f90771af90"
            ]
        ]
    },
    {
        "id": "e6b9dcaf630d3ae8",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup gas",
        "func": "var result=msg.payload.result.ProposeGasPrice\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "a6dfce2217cf07e2",
                "9f50b291264e7005"
            ]
        ]
    },
    {
        "id": "285d30e2225f9c40",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup gas",
        "func": "var result=msg.payload.result.FastGasPrice\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 320,
        "wires": [
            [
                "7069b497c126d91b",
                "76e5129665bd6fe3"
            ]
        ]
    },
    {
        "id": "5f58903fc9da6e73",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 1,
        "width": 26,
        "height": 1,
        "name": "",
        "label": "Gas Tracker ⛽",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 980,
        "y": 80,
        "wires": []
    },
    {
        "id": "77a58acb5895f53b",
        "type": "ui_template",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "name": "txt_ethereum",
        "order": 43,
        "width": 0,
        "height": 0,
        "format": "<!-- Gas tracker title -->\n<style>\n[node-id=\"5f58903fc9da6e73\"] { \n    font-size: 40px !important;\n    font-style:bolder !important;\n}\n</style>\n\n<!-- gauge Low -->\n<style>\n[node-id=\"ab0431b7fe9faee7\"] {\n    font-size: 25px !important;\n    font-style:bolder !important;\n    ;\n}\n</style>\n<!-- gauge medium -->\n<style>\n[node-id=\"a6dfce2217cf07e2\"] { \n    font-size: 25px !important;\n    font-style:bolder !important;\n    \n}\n</style>\n<!-- gauge high -->\n<style>\n[node-id=\"7069b497c126d91b\"] { \n    font-size: 25px !important;\n    font-style:bolder !important;\n    \n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b182bc18ac9dc31f",
        "type": "comment",
        "z": "0615e6ed807697be",
        "name": "Ethereum",
        "info": "",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "d51c8625ce7e871a",
        "type": "ui_template",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "name": "Ethereum Global",
        "order": 44,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody.nr-dashboard-theme {\n    font-family:Helvetica,Arial,sans-serif;\n    \n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cce25eb0c4c03c5b",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req confirmation time",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=gastracker&action=gasestimate&gasprice={{{payload}}}&apikey=GI39VZP27B949GRP3PAPNHJHDKZ9EFK9DE",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1320,
        "y": 240,
        "wires": [
            [
                "f0995996199a0741"
            ]
        ]
    },
    {
        "id": "9e1a89726958fc2c",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 240,
        "wires": [
            [
                "cce25eb0c4c03c5b"
            ]
        ]
    },
    {
        "id": "6223d8f90771af90",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "To GWEI",
        "func": "var result=msg.payload*Math.pow(10,9)\nmsg.payload=result;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 240,
        "wires": [
            [
                "9e1a89726958fc2c"
            ]
        ]
    },
    {
        "id": "9c07133de8b020ba",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 21,
        "width": 4,
        "height": 1,
        "name": "CT_1",
        "label": "Confirmation Time :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1650,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0995996199a0741",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "To min/sec",
        "func": "var result=msg.payload.result;\nminutes=Math.trunc(result/60);\nsecondes=result%60;\nvar time =minutes+\"min \"+secondes;\n\nmsg.payload=time;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 240,
        "wires": [
            [
                "9c07133de8b020ba",
                "6190ce1bb54b0aa6"
            ]
        ]
    },
    {
        "id": "1c3dbe3e42c62748",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "3e4db438969f1fc3"
            ]
        ]
    },
    {
        "id": "9f50b291264e7005",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "To GWEI",
        "func": "var result=msg.payload*Math.pow(10,9)\nmsg.payload=result;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 280,
        "wires": [
            [
                "1c3dbe3e42c62748"
            ]
        ]
    },
    {
        "id": "a5095980beae6e43",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "To min/sec",
        "func": "var result=msg.payload.result;\nminutes=Math.trunc(result/60);\nsecondes=result%60;\nvar time =minutes+\"min \"+secondes;\n\nmsg.payload=time;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 280,
        "wires": [
            [
                "7bfdb23bd8a43db9"
            ]
        ]
    },
    {
        "id": "380b25a311e322e4",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 320,
        "wires": [
            [
                "ed058a5dc5a5ca79"
            ]
        ]
    },
    {
        "id": "76e5129665bd6fe3",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "To GWEI",
        "func": "var result=msg.payload*Math.pow(10,9)\nmsg.payload=result;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 320,
        "wires": [
            [
                "380b25a311e322e4"
            ]
        ]
    },
    {
        "id": "32ae866a7c01cf4f",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "To min/sec",
        "func": "var result=msg.payload.result;\nminutes=Math.trunc(result/60);\nsecondes=result%60;\nvar time =minutes+\"min \"+secondes;\n\nmsg.payload=time;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 320,
        "wires": [
            [
                "77b7a3c318868b27"
            ]
        ]
    },
    {
        "id": "3e4db438969f1fc3",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req confirmation time",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=gastracker&action=gasestimate&gasprice={{{payload}}}&apikey=44FQJZW3W1I3B9HNADXP5ZZKWAZFMSQ1RU",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "a5095980beae6e43"
            ]
        ]
    },
    {
        "id": "ed058a5dc5a5ca79",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req confirmation time",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=gastracker&action=gasestimate&gasprice={{{payload}}}&apikey=USB7RWG7N8CU77DMKQNT23ACZJWGGMP86M",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1320,
        "y": 320,
        "wires": [
            [
                "32ae866a7c01cf4f"
            ]
        ]
    },
    {
        "id": "7bfdb23bd8a43db9",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 23,
        "width": 4,
        "height": 1,
        "name": "CT_2",
        "label": "Confirmation Time :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1650,
        "y": 280,
        "wires": []
    },
    {
        "id": "77b7a3c318868b27",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 25,
        "width": 4,
        "height": 1,
        "name": "CT_3",
        "label": "Confirmation Time :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1650,
        "y": 320,
        "wires": []
    },
    {
        "id": "62a14886faf0ad7d",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req Bloc Number",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=block&action=getblocknobytime&timestamp={{{payload}}}&closest=before&apikey=269Q27TNXKJM4HRPW3AMASHZ7611R1I4NJ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1210,
        "y": 380,
        "wires": [
            [
                "753a6744dd7c0ef0"
            ]
        ]
    },
    {
        "id": "def9a0b04b9ec9ac",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Recup Timestamp",
        "func": "var time = new Date().getTime() / 1000;\ntime=Math.trunc(time);\nmsg.payload=time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "42d0626aebde70d0"
            ]
        ]
    },
    {
        "id": "42d0626aebde70d0",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "62a14886faf0ad7d"
            ]
        ]
    },
    {
        "id": "0461e4dedecf0938",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Block : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1550,
        "y": 380,
        "wires": []
    },
    {
        "id": "753a6744dd7c0ef0",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Recup block",
        "func": "var block = msg.payload.result;\nmsg.payload=block;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "0461e4dedecf0938",
                "5f44e9af447ebe59"
            ]
        ]
    },
    {
        "id": "416d5f387ae4c5fe",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Next Block in...",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=block&action=getblockcountdown&blockno={{{payload}}}&apikey=68DWNFZE5PSCFCRTRKYJCANAHW7SXV2GZJ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1920,
        "y": 420,
        "wires": [
            [
                "e4d4ad04314135d9"
            ]
        ]
    },
    {
        "id": "3c511e4a918b0b31",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 420,
        "wires": [
            [
                "416d5f387ae4c5fe"
            ]
        ]
    },
    {
        "id": "5f44e9af447ebe59",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Next Block",
        "func": "var next_block=msg.payload;\nmsg.payload=parseInt(next_block)+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 420,
        "wires": [
            [
                "3c511e4a918b0b31"
            ]
        ]
    },
    {
        "id": "6ed0888851de2f05",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 19,
        "width": 3,
        "height": 1,
        "name": "NextBlocIn",
        "label": "Block duration  : ",
        "format": "{{msg.payload}} seconds",
        "layout": "row-center",
        "className": "",
        "x": 2290,
        "y": 420,
        "wires": []
    },
    {
        "id": "e4d4ad04314135d9",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Time net block",
        "func": "var next_block_in=msg.payload.result.EstimateTimeInSec;\nmsg.payload=next_block_in;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 420,
        "wires": [
            [
                "6ed0888851de2f05"
            ]
        ]
    },
    {
        "id": "6190ce1bb54b0aa6",
        "type": "trigger",
        "z": "0615e6ed807697be",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "102ea89c3f395530",
                "def9a0b04b9ec9ac",
                "4d64d92c5c7a5b9c",
                "fcac0657bf942bfb"
            ]
        ]
    },
    {
        "id": "d047b1c41c04a714",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Remove decimals",
        "func": "var result=msg.payload.result.EthSupply\nmsg.payload=Math.trunc(parseInt(result)/Math.pow(10,18));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 440,
        "wires": [
            [
                "d3a59606f6f16dbc"
            ]
        ]
    },
    {
        "id": "d3a59606f6f16dbc",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 28,
        "width": 3,
        "height": 1,
        "name": "Eth Supply",
        "label": "",
        "format": "{{msg.payload}} ETH",
        "layout": "row-center",
        "className": "",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "4d64d92c5c7a5b9c",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req Eth sup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=stats&action=ethsupply2&apikey=E3UVQZBAI17Z5KVP7PM3QG6ZCJTYB1RVFX",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "3853a1c1e080371f",
                "d047b1c41c04a714",
                "04a0a6f60b4abe63"
            ]
        ]
    },
    {
        "id": "3853a1c1e080371f",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Remove decimals",
        "func": "var result=msg.payload.result.Eth2Staking\nmsg.payload=Math.trunc(parseInt(result)/Math.pow(10,18));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 480,
        "wires": [
            [
                "83ae3f12cd2470d6"
            ]
        ]
    },
    {
        "id": "04a0a6f60b4abe63",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Remove decimals",
        "func": "var result=msg.payload.result.BurntFees\nmsg.payload=Math.trunc(parseInt(result)/Math.pow(10,18));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "f770e25b2691ba35"
            ]
        ]
    },
    {
        "id": "83ae3f12cd2470d6",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 30,
        "width": 3,
        "height": 1,
        "name": "Eth stacking",
        "label": "",
        "format": "{{msg.payload}} ETH stacks",
        "layout": "row-center",
        "className": "",
        "x": 1010,
        "y": 480,
        "wires": []
    },
    {
        "id": "f770e25b2691ba35",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 32,
        "width": 3,
        "height": 1,
        "name": "Eth burn",
        "label": "",
        "format": "{{msg.payload}} ETH burn",
        "layout": "row-center",
        "className": "",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "fcac0657bf942bfb",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req Eth price",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=stats&action=ethprice&apikey=7897RFNWJG298ZVAV4I2VXXUI56DYHABJ8",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 600,
        "y": 560,
        "wires": [
            [
                "d0f328b12ed5ba38"
            ]
        ]
    },
    {
        "id": "d0f328b12ed5ba38",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup price eth",
        "func": "var result=msg.payload.result.ethusd\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "6728367c5d04ed4b"
            ]
        ]
    },
    {
        "id": "6728367c5d04ed4b",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "68314e1a1d27762d",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "1 ETH =",
        "format": " {{msg.payload}}$",
        "layout": "row-center",
        "className": "",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "39ec42765527e955",
        "type": "comment",
        "z": "0615e6ed807697be",
        "name": "",
        "info": "eth balance pour une adresse\n",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "f1c9e2782ffeb0c9",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req balance of token",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.etherscan.io/api?module=account&action=tokenbalance&contractaddress=0x03Be5C903c727Ee2C8C4e9bc0AcC860Cca4715e2&address=0xF4502A508e955faa7E643b0e571b9682803F99Dd&tag=latest&apikey=E3UVQZBAI17Z5KVP7PM3QG6ZCJTYB1RVFX",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 400,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b7a95c58b816a511",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Request Eth GAS",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.bscscan.com/api?module=gastracker&action=gasoracle&apikey=X2Y26DZQVYSZT34VY218R6YC5DXEFZFQIU",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 590,
        "y": 940,
        "wires": [
            [
                "c42f66613fe44321",
                "1b96df509ec5e6ae",
                "308d60a4d7b5e56c",
                "0514b319447e4bec"
            ]
        ]
    },
    {
        "id": "c42f66613fe44321",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup gas",
        "func": "var result=msg.payload.result.SafeGasPrice;\nmsg.payload=result;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 940,
        "wires": [
            [
                "da254252d0eed6b6"
            ]
        ]
    },
    {
        "id": "1b96df509ec5e6ae",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup gas",
        "func": "var result=msg.payload.result.ProposeGasPrice\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 980,
        "wires": [
            [
                "11b1789db9ffb2e3"
            ]
        ]
    },
    {
        "id": "308d60a4d7b5e56c",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup gas",
        "func": "var result=msg.payload.result.FastGasPrice\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1020,
        "wires": [
            [
                "a7a44f497903c1aa"
            ]
        ]
    },
    {
        "id": "43e060d7cdb9cf06",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req Bloc Number",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.bscscan.com/api?module=block&action=getblocknobytime&timestamp={{{payload}}}&closest=before&apikey=HWRRRPNFZ4619ATQ4U296S4MVSFJ9VH3GZ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1190,
        "y": 1120,
        "wires": [
            [
                "60f35274e5491b9d"
            ]
        ]
    },
    {
        "id": "1e7769029029bc88",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Recup Timestamp",
        "func": "var time = new Date().getTime() / 1000;\ntime=Math.trunc(time);\nmsg.payload=time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1120,
        "wires": [
            [
                "75d12eada881b712"
            ]
        ]
    },
    {
        "id": "75d12eada881b712",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 1120,
        "wires": [
            [
                "43e060d7cdb9cf06"
            ]
        ]
    },
    {
        "id": "51ea109d87220281",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "085b83ba10b34b69",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Block : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1510,
        "y": 1120,
        "wires": []
    },
    {
        "id": "60f35274e5491b9d",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Recup block",
        "func": "var block = msg.payload.result;\nmsg.payload=block;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1120,
        "wires": [
            [
                "51ea109d87220281",
                "5a009272887da067"
            ]
        ]
    },
    {
        "id": "06ef26604709ccb9",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Next Block in...",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.bscscan.com/api?module=block&action=getblockcountdown&blockno={{{payload}}}&apikey=J858BBKB6U655NMRWKP9NRS5UY8363M4JA",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1880,
        "y": 1160,
        "wires": [
            [
                "48d789837fc399c8"
            ]
        ]
    },
    {
        "id": "33075dc80eddedf5",
        "type": "change",
        "z": "0615e6ed807697be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1160,
        "wires": [
            [
                "06ef26604709ccb9"
            ]
        ]
    },
    {
        "id": "5a009272887da067",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Next Block",
        "func": "var next_block=msg.payload;\nmsg.payload=parseInt(next_block)+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1160,
        "wires": [
            [
                "33075dc80eddedf5"
            ]
        ]
    },
    {
        "id": "1a36f38404e562ed",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "085b83ba10b34b69",
        "order": 11,
        "width": 3,
        "height": 1,
        "name": "NextBlocIn",
        "label": "Block duration  : ",
        "format": "{{msg.payload}} seconds",
        "layout": "row-center",
        "className": "",
        "x": 2230,
        "y": 1160,
        "wires": []
    },
    {
        "id": "48d789837fc399c8",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Time net block",
        "func": "var next_block_in=msg.payload.result.EstimateTimeInSec;\nmsg.payload=next_block_in;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 1160,
        "wires": [
            [
                "1a36f38404e562ed"
            ]
        ]
    },
    {
        "id": "2e3afe8769f396f9",
        "type": "trigger",
        "z": "0615e6ed807697be",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 570,
        "y": 1000,
        "wires": [
            [
                "b7a95c58b816a511",
                "1e7769029029bc88",
                "9bb2eab280b26e2b"
            ]
        ]
    },
    {
        "id": "66a00a331e6619bc",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "Remove decimals",
        "func": "var result=msg.payload.result\nmsg.payload=Math.trunc(parseInt(result)/Math.pow(10,18));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1160,
        "wires": [
            [
                "3e6f8de976fbd887"
            ]
        ]
    },
    {
        "id": "3e6f8de976fbd887",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "085b83ba10b34b69",
        "order": 20,
        "width": 3,
        "height": 1,
        "name": "BNB Supply",
        "label": "",
        "format": "{{msg.payload}} BNB",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9bb2eab280b26e2b",
        "type": "http request",
        "z": "0615e6ed807697be",
        "name": "Req BNB sup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.bscscan.com/api?module=stats&action=bnbsupply&apikey=KTW349VQBXZDN6HCBN2VAZY729CAC4J58E",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 580,
        "y": 1160,
        "wires": [
            [
                "66a00a331e6619bc"
            ]
        ]
    },
    {
        "id": "0514b319447e4bec",
        "type": "function",
        "z": "0615e6ed807697be",
        "name": "recup price bnb",
        "func": "var result=msg.payload.result.UsdPrice\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "f32fa08fc6952d77"
            ]
        ]
    },
    {
        "id": "f32fa08fc6952d77",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "085b83ba10b34b69",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "1 BNB =",
        "format": " {{msg.payload}}$",
        "layout": "row-center",
        "className": "",
        "x": 960,
        "y": 1060,
        "wires": []
    },
    {
        "id": "da254252d0eed6b6",
        "type": "ui_gauge",
        "z": "0615e6ed807697be",
        "name": "eth_gas_low",
        "group": "085b83ba10b34b69",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Low",
        "label": "gwei",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "11b1789db9ffb2e3",
        "type": "ui_gauge",
        "z": "0615e6ed807697be",
        "name": "eth_gas_average",
        "group": "085b83ba10b34b69",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Average",
        "label": "gwei",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 980,
        "wires": []
    },
    {
        "id": "a7a44f497903c1aa",
        "type": "ui_gauge",
        "z": "0615e6ed807697be",
        "name": "eth_gas_high",
        "group": "085b83ba10b34b69",
        "order": 8,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "High",
        "label": "gwei",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 1020,
        "wires": []
    },
    {
        "id": "06927117d8f7436e",
        "type": "ui_text",
        "z": "0615e6ed807697be",
        "group": "085b83ba10b34b69",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gas Tracker ⛽",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 940,
        "y": 900,
        "wires": []
    },
    {
        "id": "faa9caf99636a3df",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "300b7f222fc5116e",
        "order": 2,
        "width": 19,
        "height": 1
    },
    {
        "id": "bd2ed86f3baedec3",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "300b7f222fc5116e",
        "order": 3,
        "width": 19,
        "height": 1
    },
    {
        "id": "cd8b9620ae033b8c",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "300b7f222fc5116e",
        "order": 5,
        "width": 19,
        "height": 1
    },
    {
        "id": "e5d3db1963163a89",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "7bf1788efefc1f0f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "538a8a46ff3885a4",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "7bf1788efefc1f0f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b597c8423620c396",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "7bf1788efefc1f0f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2dd502bcb64d7557",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "7bf1788efefc1f0f",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "61857b7802fc067a",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "7bf1788efefc1f0f",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f870770f982da52",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "2c5d288fadb3527e",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "218a3152e43b41a7",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a74884ac628cca69",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "4052585aec01e152",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "0351af2f4ebb2130",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "d996e106a06fa7df",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a382c37c6151a397",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "4859e9e0b48f8d9c",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "8546364d005c15d9",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "7c65ed1c3a00f5a5",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "f39b3137aed81e77",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "03c7f97d2dfdb214",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "b638ec6bedd74ff0",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ed6adcea7daf928",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "da986ae97baf4897",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 26,
        "width": 6,
        "height": 1
    },
    {
        "id": "e9cda9192de2a8fd",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 27,
        "width": 26,
        "height": 1
    },
    {
        "id": "51bcbb212acc449e",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 29,
        "width": 23,
        "height": 1
    },
    {
        "id": "9dba6f05ba576a2c",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 31,
        "width": 23,
        "height": 1
    },
    {
        "id": "db48b4c094c7a2a6",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 33,
        "width": 23,
        "height": 1
    },
    {
        "id": "8d618794b6ea9b1d",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 34,
        "width": 26,
        "height": 1
    },
    {
        "id": "2e44771e7c633954",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 35,
        "width": 26,
        "height": 1
    },
    {
        "id": "5f39a11ddd387d7a",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 36,
        "width": 26,
        "height": 1
    },
    {
        "id": "207952c6388a27d5",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 37,
        "width": 26,
        "height": 1
    },
    {
        "id": "3bacb22348631020",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 38,
        "width": 26,
        "height": 1
    },
    {
        "id": "ad0b43baee341805",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 39,
        "width": 26,
        "height": 1
    },
    {
        "id": "ab329e8bf27eed24",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 40,
        "width": 26,
        "height": 1
    },
    {
        "id": "fbc123632149e88d",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 41,
        "width": 26,
        "height": 1
    },
    {
        "id": "1d90b3d8d820c1ee",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "68314e1a1d27762d",
        "order": 42,
        "width": 26,
        "height": 1
    },
    {
        "id": "7f1ddd87f27e3eaf",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "86a26dc66dfba8ce",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "af8388db2d5d4faa",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "542bf44f711b843f",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "44649dee059267c8",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "f2402f6f8691685e",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a59128b4ac844f43",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b5a21ede43d60c9",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "cc622466185c0fe9",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "9c3a64dbf95dbdee",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "e256111fbad48fbe",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed8572cb00564ca2",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "dc253af0302c717b",
        "type": "ui_spacer",
        "z": "0615e6ed807697be",
        "name": "spacer",
        "group": "085b83ba10b34b69",
        "order": 21,
        "width": 23,
        "height": 1
    },
    {
        "id": "300b7f222fc5116e",
        "type": "ui_group",
        "name": "Main",
        "tab": "19302016794a5392",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bf1788efefc1f0f",
        "type": "ui_group",
        "name": "Default",
        "tab": "84ce5d8a267f5cde",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ""
    },
    {
        "id": "68314e1a1d27762d",
        "type": "ui_group",
        "name": "Gas",
        "tab": "b37edaab3182584f",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "085b83ba10b34b69",
        "type": "ui_group",
        "name": "BNB Chain",
        "tab": "4a893f91ef5ff3fe",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "19302016794a5392",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84ce5d8a267f5cde",
        "type": "ui_tab",
        "name": "Blockchain",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b37edaab3182584f",
        "type": "ui_tab",
        "name": "Ethereum",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4a893f91ef5ff3fe",
        "type": "ui_tab",
        "name": "BSC",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]